@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 2. Importa Tailwind v4 */
@import "tailwindcss";



/* >>> estilos base personalizados (no usar body display:flex) <<< */
:root {
  font-family: "Poppins", sans-serif;


  /* Fondo general de la aplicación (Crema pastel muy suave) */
  --bg-app: white;

  --bg-primary: #7c3aed;
  /* Fondo del Sidebar (Gris/Azul pastel ultra claro y limpio) */
  --bg-sidebar: #f9f4ff;

  /* Azul Bebé (Para botones principales y tags de Liam) */
  --baby-blue: #bae6fd;
  --baby-blue-hover: #7dd3fc;

  /* Rosa Bebé (Para tags de Mateo/Sofía o alertas de lácteos) */
  --baby-pink: #fbcfe8;
  --baby-pink-hover: #f9a8d4;

  /* Verde Menta Bebé (Para el selector superior y estados 'None') */
  --baby-mint: #a7f3d0;
  --baby-mint-hover: #94e7c1;

  --bg-dorado: #ffe8c4;

  /* Color de las tarjetas (Blanco puro para contrastar con los fondos) */
  --bg-card: #ffffff;

  --bg-gray: #dde3e9;
}

@theme {
  /* Fondo general de la aplicación (Crema pastel muy suave) */

  --color-bg-primary: var(--bg-primary);
  --color-bg-app: var(--bg-app);

  /* Fondo del Sidebar (Gris/Azul pastel ultra claro y limpio) */
  --color-bg-sidebar: var(--bg-sidebar);

  /* Azul Bebé (Para botones principales y tags de Liam) */
  --color-baby-blue: var(--baby-blue);
  --color-baby-blue-hover: var(--baby-blue-hover);

  /* Rosa Bebé (Para tags de Mateo/Sofía o alertas de lácteos) */
  --color-baby-pink: var(--baby-pink);
  --color-baby-pink-hover: var(--baby-pink-hover);

  /* Verde Menta Bebé (Para el selector superior y estados 'None') */
  --color-baby-mint: var(--baby-mint);
  --color-baby-mint-hover: var(--baby-mint-hover);

  --color-bg-dorado: var(--bg-dorado);

  /* Color de las tarjetas (Blanco puro para contrastar con los fondos) */
  --color-bg-card: var(--bg-card);

  --color-bg-gray: var(--bg-gray);
}


/* enlaces y botones base */




/* tipografías principales */
h1 {
  font-size: 2.25rem;
  line-height: 1.1;
  font-weight: 700;
}



/* asegurar que las imágenes ocupen su espacio y no colapsen */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* animación fadeIn global */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.28s ease-out;
}